# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Java template
src/generated/*
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Yeoman template
node_modules/
bower_components/
*.log

dist/

### IntelliJ IDE #
.idea/*
*.iml
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles/*

target/

h2/
src/main/web/node-v*
